<script setup lang="ts">
import { ref } from "vue";
const text = ref("Edit Me");
const checked = ref(true);
const checkedNames = ref(["Jack"]);
const picked = ref("");
const selected = ref("2");
const Multiselected = ref(["1"]);
</script>

<template>
  <h2>Text Input</h2>
  <input v-model="text" />{{ text }}

  <h2>checkbox</h2>
  <input type="checkbox" v-model="checked" id="checkbox" />
  <label for="checkbox">checked: {{ checked }}</label>

  <h2>Multiple checkbox</h2>
  <input type="checkbox" v-model="checkedNames" id="Jack" value="Jack" />
  <label for="Jack">Jack</label>
  <input type="checkbox" v-model="checkedNames" id="John" value="John" />
  <label for="John">John</label>
  <input type="checkbox" v-model="checkedNames" id="mike" value="mike" />
  <label for="mike">mike</label>

  <p>Checked names</p>
  <pre>{{ checkedNames }}</pre>

  <h2>Radio</h2>
  <input type="radio" id="one" value="One" v-model="picked" />
  <label for="one">One</label>
  <input type="radio" id="two" value="Two" v-model="picked" />
  <label for="two">Two</label><br />
  <span>Picked: {{ picked }}</span>

  <h2>Multiple Select</h2>
  <select v-mode="Multiselected" multiple style="width: 100px">
    <option disabled value="">Please select one</option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
  </select>
  <span>Selected{{ Multiselected }}</span>
</template>
