<script setup lang="ts">
import { ref } from "vue";
import Todoitem from "./Todoitem.vue";

const groceryList = ref([
  { id: 0, text: "Vegetables" },
  { id: 2, text: "Cheese" },
  { id: 3, text: "Whatever else humans are supposed to eat" },
]);
</script>

<template>
  <ol>
    <Todoitem v-for="item of groceryList" :key="item.id" :todo="item" />
  </ol>
</template>
