<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUser from "./components/HandlingUser.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndloops from "./components/ConditionAndloops.vue";
import FromBindings from "./components/FromBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <FromBindings />
    <br />
    <br />
    <ConditionAndloops />
    <br />
    <br />
    <AttributeBindings></AttributeBindings>
    <CalComponent></CalComponent>
    <HelloWorldExample></HelloWorldExample>
    <HandlingUser></HandlingUser>
  </div>
</template>

<style scoped></style>
